
.article-declension-list {
  padding-left: 16px;
}

.article-declension-list li {
  margin-bottom: 16px;
  line-height: 1.6;
}

.article-declension-input {
  width: 50px;
  padding: 4px;
  margin: 0 4px;
  border-radius: 6px;
  border: 2px solid #ccc;
  text-align: center;
  outline: none;
  font-size: 16px;
  line-height: 1.4;
  transition: border-color 0.2s ease;
}


.article-declension-input.correct {
  border-color: #6eea8d;
  background-color: #e6fff1;
}

.article-declension-input.incorrect {
  border-color: red;
  background-color: #ffecec;
}

.article-declension-button {
  margin-bottom: 16px;
  cursor: pointer;
  padding: 6px 12px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
}

.hint-button {
  font-size: 18px;
  background: none;
  border: 2px solid #4ea1f3;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  padding: 0;
  cursor: pointer;
  color: #4ea1f3;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 12px;
}

.article-declension-list {
  list-style: none;
  padding: 0;
}
