
.modal-container {
  font-family: sans-serif;
  overflow-x: auto;
}

.modal-table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 10px;
  min-width: 700px;
  border: 1px solid #ccc;
}

.modal-table thead {
  position: sticky;
  top: 0;
  background: #f4f4f4;
  z-index: 1;
}

.modal-table th {
  border: 1px solid #ccc;
  padding: 8px;
  background: #f4f4f4;
  font-weight: bold;
}

.modal-table td {
  border: 1px solid #ccc;
  padding: 6px;
  text-align: center;
}

.modal-input {
  transition: border-color 0.5s ease;
  width: 80%;
  padding: 4px 6px;
  min-height: 28px;
  border-radius: 6px;
  border: 2px solid #ccc;
  text-align: center;
  outline: none;
}

.modal-input.correct {
  border-color: #6eea8d;
}

.modal-input.incorrect {
  border-color: red;
}
