.plural-container {
  font-family: sans-serif;
}

.plural-container p {
  margin-bottom: 16px;
}

.plural-list {
  list-style: none;
  padding: 0;
}

.plural-item {
  display: block;
  margin-bottom: 16px;
}

.plural-singular {
  display: inline;
  margin-right: 8px;
}

/* поле ввода */
.plural-input {
  transition: all 0.7s ease;
  border: 2px solid #ccc;
  border-radius: 6px;
  padding: 6px 12px;
  font-size: 16px;
  min-width: 6em;
  outline: none;
  max-width: 60%;
  width: auto;
}

.plural-input.correct {
  border-color: #6eea8d;
}

.plural-input.incorrect {
  border-color: red;
}

/* тултипы (как в остальных упражнениях) */
.tooltip-container {
  position: relative;
  display: inline-block;
  margin-left: 8px;
}

.tooltip {
  position: absolute;
  bottom: 125%;
  left: 50%;
  transform: translateX(-50%);
  background: #fefefe;
  border: 2px solid #ccc;
  padding: 4px 8px;
  border-radius: 6px;
  white-space: nowrap;
  font-size: 14px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease;
  z-index: 10;
}

.tooltip-container:hover .tooltip {
  opacity: 1;
  visibility: visible;
}
